/* @import url("normalize.css"); */

* { margin: 0; padding: 0; box-sizing: border-box; font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }
ul { list-style: none; }
a { text-decoration: none; color: black; }
/* div { font-size: 0; } */

/* public icon css */
.external-site-icon { width: 12px; height: 12px; margin-left: 10px; }
.angle-white-icon { width: 22px; height: 22px; border-radius: 11px; background-color: #e30200; padding: 5px; }
.angle-red-icon { width: 8px; height: 12px; }
img.m-title-angle { width: 22px; height: 22px; background-color: #e30200; border-radius: 22px; padding: 5px; margin-right: 10px; }

/* header css */
header { border-bottom: 1px solid #dfdacb; }
.header-container { width: 100%; height: 100px; }
.header-inner { width: 100%; height: 100%; max-width: 1600px; margin: 0 auto; display: flex; justify-content: space-between; }
/* logo css */
.header-item1 { margin-left: 30px; }
.header-item1 > h1 > a { line-height: 100px; }
.header-item1 > h1 > a > img { vertical-align: middle; }
.header-item-container { margin-top: 10px; }
/* sub nav css */
.header-item2 { margin-bottom: 16px; line-height: 30px; }
.header-item2 > ul { display: flex; justify-content: flex-end; }
.header-item2 > ul > li { padding: 0 14px; vertical-align: middle; }
.header-item2 > ul > li > a { font-size: 13px; font-weight: 400; margin-top: 20px; }
/* search(sub nav) css */
#search-box { width: 240px; height: 30px; border-radius: 5px; border: 1px solid #dfdacb; }
#search-box::placeholder { padding-left: 10px; }
#search-btn { border: none; background: none; position: relative; left: -33px; top: 4px; }
#search-btn > img { width: 17px; height: 17px; }
/* global nav css */
.header-item3 > nav > ul { display: flex; justify-content: flex-end; margin-right: 25px; }
.header-item3 > nav > ul > li { width: 180px; padding-bottom: 16px; text-align: center; }
.header-item3 > nav > ul > li > a { font-size: 15px; }
.header-item3 > nav > ul > li > div { display: none; position: absolute; overflow: hidden; background-color: #fff; z-index: 9999; }
.header-item3 > nav > ul > li:hover { border-bottom: 5px solid #e30200; }
.header-item3 > nav > ul > li:hover > div { display: block;  left: 0; right: 0; top: 100px; border-top: 1px solid #dfdacb; box-shadow: 0px 8px 10px  rgba(0.2, 0.2, 0.2, 0.3); }
.align-container { display: flex; justify-content: center; padding-top: 42px;}
.align-container .left { text-align: left; margin-right: 60px; }
ul.m-product-grid-container { display: grid; grid-template-columns: 240px 240px 240px; grid-template-rows: 145px 145px 145px; gap: 22px; }
ul.m-product-grid-container > li { border: 1px solid #dfdacb; border-radius: 10px; text-align: center; }
ul.m-product-grid-container > li:nth-of-type(1) { grid-column: 1 / 2; grid-row: 1 / 2; }
ul.m-product-grid-container > li:nth-of-type(2) { grid-column: 2 / 3; grid-row: 1 / 2; }
ul.m-product-grid-container > li:nth-of-type(3) { grid-column: 3 / 4; grid-row: 1 / 2; }
ul.m-product-grid-container > li:nth-of-type(4) { grid-column: 1 / 2; grid-row: 2 / 3; }
ul.m-product-grid-container > li:nth-of-type(5) { grid-column: 2 / 3; grid-row: 2 / 3; }
ul.m-product-grid-container > li:nth-of-type(6) { grid-column: 3 / 4; grid-row: 2 / 3; }
ul.m-product-grid-container > li:nth-of-type(7) { grid-column: 1 / 2; grid-row: 3 / 4; }
ul.m-product-grid-container > li:nth-of-type(8) { grid-column: 2 / 3; grid-row: 3 / 4; }
ul.m-product-grid-container > li > a { display: inline-block; width: 240px; height: 145px; }
ul.m-product-grid-container > li > a > img { width: 150px; height: 100px; object-fit: contain; padding-top: 5px; }
ul.m-product-grid-container > li > a > p { font-size: 16px; font-weight: 700; text-align: center; }
ul.m-product-grid-container > li > a > p > img { margin-right: 12px; }

.align-container .right { display: flex; flex-direction: column; justify-content: space-between; }
.m-item-wrap { width: 1200px; margin: 0 auto; text-align: left; }
.m-item-wrap a:hover { text-decoration: underline; }
.m-item-wrap > .m-title { padding-top: 45px; }
.m-title { margin-bottom: 25px; }
.m-title > li { font-size: 24px; font-weight: 600;}

/* main nav item type2 css */
.m-item-type2 > li { border: 1px solid #dfdacb; border-radius: 10px; background-color: #fff; }
.m-item-type2 > li > a { display: inline-block; width: 370px; height: 65px; text-align: center; font-size: 18px; font-weight: 700; vertical-align: middle; line-height: 65px; }
.m-item-type2 > li > a > img { margin-right: 10px; vertical-align: middle; }
#m-product .m-item-type2 > li:first-of-type { margin-top: 65px; margin-bottom: 20px; }
#m-cm_campaign .m-item-type2 { display: flex; }
#m-cm_campaign .m-item-type2 > li, #m-support .m-item-type2 > li { margin-right: 40px; }
#m-support .m-item-type2 { display: flex; margin-bottom: 40px;}

/* main nav item type3 css */
.m-item-type3 { display: flex; }
.m-item-type3 > li { margin: 43px 30px 6px 0; }
.m-item-type3 > li > a { display: inline-block; text-align: center; font-size: 16px; font-weight: 700; vertical-align: middle; line-height: 1.5; }
.m-item-type3 > li > a > img { margin-right: 12px; vertical-align: middle; }


/* main nav item type4 css */
.m-item-type4 > li { border: 1px solid #dfdacb; border-radius: 10px; background-color: #fff; }
.m-item-type4 > li > a { display: inline-block; width: 370px; height: 200px; text-align: center; }
.m-item-type4 > li > a > img { width: 370px; height: 140px; border-radius: 10px 10px 0 0; }
.m-item-type4 > li > a > p { font-size: 18px; font-weight: 700; text-align: center; margin-top: 8px; }
.m-item-type4 > li > a > p > img { vertical-align: middle; margin-right: 12px; margin-bottom: 4px; }
.m-learned-grid-container { display: grid; grid-template-columns: 370px 370px 370px; grid-template-rows: 200px 200px; gap: 40px; }
#m-product .m-item-type4 { margin-top: 39px; }
#m-quality .m-item-type4, #m-support .m-item-type4 { display: flex; }
#m-quality .m-item-type4 > li { margin-right: 40px; margin-bottom: 20px; }

/* main nav item type5 css */
.m-quality-grid-container { display: grid; grid-template-columns: 270px 270px 270px 270px; grid-template-rows: 168px; gap: 40px; }
.m-item-type5 > li { border: 1px solid #dfdacb; border-radius: 10px; background-color: #fff; }
.m-item-type5 > li > a { display: inline-block; width: 270px; height: 168px; text-align: center; }
.m-item-type5 > li > a > img { width: 269px; height: 99px; border-radius: 10px 10px 0 0; }
.m-item-type5 > li > a > p { font-size: 18px; font-weight: 700; text-align: center; margin-top: 10px; }
.m-item-type5 > li > a > p > img { vertical-align: middle; margin-right: 12px; margin-bottom: 4px; }

.close-btn-wrap { text-align: center; vertical-align: middle; margin: 45px 0; }
.close-btn-wrap > button { background-color: #fff; border: none; font-size: 16px; }
.close-btn-wrap > button:hover { text-decoration: underline; cursor: pointer; }
.close-btn-wrap > button > img { width: 14px; height: 14px; margin-right: 10px;}
#m-cm_campaign .close-btn-wrap, #m-csr .close-btn-wrap, #m-support .close-btn-wrap { margin-top: 39px; }
#m-quality .close-btn-wrap { margin-top: 25px; }

/* main css */
main {}
.main-container { }
.main-item1 { position: relative; font-size: 0; }
.slide-container { max-width: 1920px; margin: 0 auto; }
.slide > li img { width: 100%; }
.slide > li:nth-child(2):hover { opacity: 0.7; }
.slide > li:nth-child(3):hover { opacity: 0.7; }

.slide-button-container { width: 100%; position: absolute; bottom: 10px; z-index: 99; }
.slide-button { max-width: 1200px; margin: 0 auto; text-align: right; font-size: 0;  }
.slide-button > button { background-color: rgba(1, 1, 1, 0); font-size: 0; border: none; }
.slide-button > button > img { width: 30px; height: 30px; }

/* wave shape css */
.shape-top { position: absolute; bottom: 0; width: 100%; overflow: hidden; line-height: 0; transform: rotate(180deg); }
.shape-top svg { display: block; width: calc(143% + 1.3px); height: 95px; transform: rotateY(180deg); }
.shape-top .shape-fill { fill: #f8f4e9; } 
.shape-bottom { position: absolute;  width: 100%; overflow: hidden; line-height: 0; transform: rotateY(180deg); }
.shape-bottom svg { display: block; width: calc(143% + 1.3px); height: 95px; transform: rotateY(180deg); }
.shape-bottom .shape-fill { fill: #f8f4e9; }

/* notice css */
.main-item2 { background-color: #f8f4e9; position: relative; }
.main-item2-inner { max-width: 1200px; margin: 0 auto; padding-top: 33px;}
.main-item2__notice-container { height: 100px; border: 1px solid #f2baba; border-radius: 10px; background-color: #fff; display: flex; padding: 20px 30px; margin-bottom: 40px;}
.main-item2__notice-title { margin-right: 40px; font-weight: 700; color: #e62a00; }
.main-item2__notice-post > ul > li:first-child { margin-bottom: 10px;}
.main-item2__notice-post > ul > li > a > img.angle-red-icon { margin-right: 13px; }
.pdf-icon { width: 13px; height: 16px; }

/* banner css */
.main-item2__banner-container { font-size: 0; position: relative; }
.main-item2__banner-container > ul { display: flex; max-width: 1200px; overflow: hidden; }
.main-item2__banner-container > ul > li:nth-child(2n+1) { margin-right: 40px; }
.main-item2__banner-container > ul > li > a > img { width: 580px; height: 330px; border-radius: 10px; }
.banner-pagenation { text-align: center; margin-top: 30px; padding-bottom: 15px; }
.banner-pagenation > button { width: 12px; height: 12px; background-color: #666666; border: none; border-radius: 6px; margin: 0 10px; }
.banner-prev-btn { position: absolute; left: 0; top: 290px; }
.banner-next-btn { position: absolute; right: 0; top: 290px; }
.banner-prev-btn > button, .banner-next-btn > button, .banner-pause-btn > button { font-size: 0; background-color: rgba(1, 1, 1, 0); border: none; }
.btn-container { width: 100%; position: absolute; bottom: 15px; }
.banner-pause-btn { max-width: 1200px; text-align: right; font-size: 0;  }
.banner-pause-btn > button > img { width: 30px; height: 30px; }

.main-item3 { max-width: 1200px; margin: 0 auto; }
.main-item3__logo-container { text-align: center; padding-top: 60px; }
.main-item3__logo-container > h2 { padding-bottom: 10px; }

.special-container { padding-top: 60px; }
.special-grid-container { display: grid; grid-template-columns: repeat(4, 1fr); grid-template-rows: 275px 90px 275px; row-gap: 30px; column-gap: 30px; }
.special-grid-item1 { grid-column: 1 / 3; grid-row: 1 / 2; }
.special-grid-item2 { grid-column: 3 / 5; grid-row: 2 / 4; }
.special-grid-item3 { grid-column: 3 / 4; grid-row: 1 / 2; }
.special-grid-item4 { grid-column: 4 / 5; grid-row: 1 / 2; }
.special-grid-item5 { grid-column: 1 / 2; grid-row: 3 / 4; }
.special-grid-item6 { grid-column: 2 / 3; grid-row: 3 / 4; }

.special-grid-item1 > a > div:nth-of-type(2) { background-color: #d33a1c; height: 124px; }
.special-grid-item2 > a > div:nth-of-type(2) { background-color: #c6202b; height: 124px; }
.special-grid-item3 > a > div:nth-of-type(2) { background-color: #c2024e; height: 145px; }
.special-grid-item4 > a > div:nth-of-type(2) { background-color: #715c45; height: 145px; }
.special-grid-item5 > a > div:nth-of-type(2) { background-color: #444444; height: 145px; }
.special-grid-item6 > a > div:nth-of-type(2) { background-color: #0076c8; height: 145px; }

.special__image { font-size: 0; }
.special__image > img { width: 100%; height: 100%; object-fit: cover; }
.special__description { padding: 18px; border-radius: 0 0 10px 10px; }
.special__description > div > img { width: 8px; height: 12px; margin-right: 12px; }
.special__description > div > strong { font-size: 18px; color: #fff; }
.special__description > p { font-size: 15px; color: #fff; padding-top: 10px; }

.special-container2 > ul { display: flex; width: 100%; max-width: 1200px; justify-content: space-between; padding-top: 60px; }
.special-container2 > ul > li { width: 280px; height: 315px; }
.special-container2 > ul > li > a > div:nth-child(2) { height: 185px; border-radius: 0 0 10px 10px; }

.special-container2 > ul > li:nth-child(1) > a > div:nth-child(2) { background-color: #007735; }
.special-container2 > ul > li:nth-child(2) > a > div:nth-child(2) { background-color: #577800; }
.special-container2 > ul > li:nth-child(3) > a > div:nth-child(2) { background-color: #573a7e; }
.special-container2 > ul > li:nth-child(4) > a > div:nth-child(2) { background-color: #00326f; }

hr { margin: 80px 0; border: none; border-top: 5px dotted #c0bcb1; height: 1px; background-color: #fff; width: 100%;}

/* campaign content css */
.campaign-container { width: 100%; max-width: 1200px; margin: 0 auto; }
.content-title-container { display: flex; justify-content: space-between; align-items: center; margin-bottom: 40px; }
.content-title-container > h2 { width: 900px; text-align: center; padding-left: 300px; font-size: 30px; }
.content-title-container > div > a > img { margin-right: 10px; vertical-align: middle; }
.content-title-container > div > a > strong { vertical-align: middle; }

.campaign-grid-container { display: grid; grid-template-rows: repeat(2, minmax(300px, auto)) ; grid-template-columns: repeat(3, 375px); gap: 40px;}
.campaign-grid-container > li:hover { text-decoration: underline; }
.campaign-image { font-size: 0; }
.campaign-image > img { width: 100%; height: 100%; object-fit: cover; border-radius: 10px; border: 1px solid #dfdacb; }

.campaign-tag { display: flex; }
.campaign-tag li { font-size: 14px; padding: 4px 10px 2px; text-align: center; margin: 20px 10px 0 0; }
.campaign-tag__now { background-color: #ffe4da; }
.campaign-tag__snsNpost { background-color: #fff; border: 1px solid #dfdacb; }
.campaign-tag__purchase { background-color: #c8edf8; }

.campaign-product-name { font-size: 14px; margin: 5px 0; }
.campaign-information { display: flex; }
.campaign-information > div > img { vertical-align: middle; margin-right: 10px; }
.campaign-information > div > strong { font-size: 18px; }
.campaign-period { font-size: 14px; margin-top: 15px; }
.campaign-period > span { color: #e30200; }

/* cm gallury content css */
.cmgallury-content-container { display: flex; width: 1200px; height: 365px; background-color: #ffe4da; padding: 20px; border-radius: 15px; }
.cmgallury-img > img { width: 580px; height: 325px; border-radius: 15px; }
.cmgallury-information { margin-left: 20px; }
.cmgallury-product-name { font-size: 18px; text-align: center; margin-top: 75px; margin-bottom: 20px; }
.cmgallury-promotion-title { display: flex; }
.cmgallury-promotion-title:hover { text-decoration: underline; }
.cmgallury-promotion-title > div:nth-child(1) > img { vertical-align: middle; }
.cmgallury-promotion-title > div:nth-child(2) { font-size: 25px; font-weight: 700; }
.cmgallury-site-btn { text-align: center; margin-top: 50px;}
.cmgallury-site-btn > a { display: inline-block; width: 215px; height: 50px; background-color: #fff; border: 1px solid #e30200; border-radius: 27.5px; vertical-align: middle; font-size: 18px; font-weight: 700; line-height: 50px; }
.cmgallury-site-btn > a > img { vertical-align: middle; margin-right: 12px; }

/* aside css */
aside {}

/* footer css */
footer {}

