/* @import url("normalize.css"); */

* { margin: 0; padding: 0; box-sizing: border-box; font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }
ul { list-style: none; }
a { text-decoration: none; color: black; }

/* public icon css */
.external-site-icon { width: 12px; height: 12px; margin-left: 10px; }
.angle-white-icon { width: 22px; height: 22px; border-radius: 11px; background-color: #e30200; padding: 5px; }
.angle-red-icon { width: 8px; height: 12px; }
img.m-title-angle { width: 22px; height: 22px; background-color: #e30200; border-radius: 22px; padding: 5px; margin-right: 10px; }

/* header css */
header { border-bottom: 1px solid #dfdacb; }
.header-container { width: 100%; height: 100px; }
.header-inner { width: 100%; height: 100%; max-width: 1600px; margin: 0 auto; display: flex; justify-content: space-between; }
/* logo css */
.header-item1 { margin-left: 30px; }
.header-item1 > h1 > a { line-height: 100px; }
.header-item1 > h1 > a > img { vertical-align: middle; }
.header-item-container { margin-top: 10px; }
/* sub nav css */
.header-item2 { margin-bottom: 16px; line-height: 30px; }
.header-item2 > ul { display: flex; justify-content: flex-end; }
.header-item2 > ul > li { padding: 0 14px; vertical-align: middle; }
.header-item2 > ul > li > a { font-size: 13px; font-weight: 400; margin-top: 20px; }
/* search(sub nav) css */
#search-box { width: 240px; height: 30px; border-radius: 5px; border: 1px solid #dfdacb; }
#search-box::placeholder { padding-left: 10px; }
#search-btn { border: none; background: none; position: relative; left: -33px; top: 4px; }
#search-btn > img { width: 17px; height: 17px; }
/* global nav css */
.header-item3 > nav > ul { display: flex; justify-content: flex-end; margin-right: 25px;}
.header-item3 > nav > ul > li { width: 180px; padding-bottom: 16px; text-align: center; }
.header-item3 > nav > ul > li > a { font-size: 15px; }
.header-item3 > nav > ul > li > div { display: none; position: absolute; }
.header-item3 > nav > ul > li:hover { border-bottom: 5px solid #e30200;}
.header-item3 > nav > ul > li:hover > div { display: block; left: 0; right: 0; top: 100px; background-color: #fff; border-top: 1px solid #dfdacb; box-shadow: 0px 8px 10px  rgba(0.2, 0.2, 0.2, 0.3); }
.align-container { display: flex; justify-content: center; padding-top: 42px;}
.align-container .left { text-align: left; margin-right: 60px; }
ul.m-product-grid-container { display: grid; grid-template-columns: 240px 240px 240px; grid-template-rows: 145px 145px 145px; gap: 22px; }
ul.m-product-grid-container > li { border: 1px solid #dfdacb; border-radius: 10px; text-align: center; }
ul.m-product-grid-container > li:nth-of-type(1) { grid-column: 1 / 2; grid-row: 1 / 2; }
ul.m-product-grid-container > li:nth-of-type(2) { grid-column: 2 / 3; grid-row: 1 / 2; }
ul.m-product-grid-container > li:nth-of-type(3) { grid-column: 3 / 4; grid-row: 1 / 2; }
ul.m-product-grid-container > li:nth-of-type(4) { grid-column: 1 / 2; grid-row: 2 / 3; }
ul.m-product-grid-container > li:nth-of-type(5) { grid-column: 2 / 3; grid-row: 2 / 3; }
ul.m-product-grid-container > li:nth-of-type(6) { grid-column: 3 / 4; grid-row: 2 / 3; }
ul.m-product-grid-container > li:nth-of-type(7) { grid-column: 1 / 2; grid-row: 3 / 4; }
ul.m-product-grid-container > li:nth-of-type(8) { grid-column: 2 / 3; grid-row: 3 / 4; }
ul.m-product-grid-container > li > a { display: inline-block; width: 240px; height: 145px; }
ul.m-product-grid-container > li > a > img { width: 150px; height: 100px; object-fit: contain; padding-top: 5px; }
ul.m-product-grid-container > li > a > p { font-size: 16px; font-weight: 700; text-align: center; }
ul.m-product-grid-container > li > a > p > img { margin-right: 12px; }

.align-container .right { display: flex; flex-direction: column; justify-content: space-between; }
.m-item-wrap { width: 1200px; margin: 0 auto; text-align: left; }
.m-item-wrap a:hover { text-decoration: underline; }
.m-item-wrap > .m-title { padding-top: 45px; }
.m-title { margin-bottom: 25px; }
.m-title > li { font-size: 24px; font-weight: 600;}

/* main nav item type2 css */
.m-item-type2 > li { border: 1px solid #dfdacb; border-radius: 10px; background-color: #fff; }
.m-item-type2 > li > a { display: inline-block; width: 370px; height: 65px; text-align: center; font-size: 18px; font-weight: 700; vertical-align: middle; line-height: 65px; }
.m-item-type2 > li > a > img { margin-right: 10px; vertical-align: middle; }
#m-product .m-item-type2 > li:first-of-type { margin-top: 65px; margin-bottom: 20px; }
#m-cm_campaign .m-item-type2 { display: flex; }
#m-cm_campaign .m-item-type2 > li, #m-support .m-item-type2 > li { margin-right: 40px; }
#m-support .m-item-type2 { display: flex; margin-bottom: 40px;}

/* main nav item type3 css */
.m-item-type3 { display: flex; }
.m-item-type3 > li { margin: 43px 30px 6px 0; }
.m-item-type3 > li > a { display: inline-block; text-align: center; font-size: 16px; font-weight: 700; vertical-align: middle; line-height: 1.5; }
.m-item-type3 > li > a > img { margin-right: 12px; vertical-align: middle; }


/* main nav item type4 css */
.m-item-type4 > li { border: 1px solid #dfdacb; border-radius: 10px; background-color: #fff; }
.m-item-type4 > li > a { display: inline-block; width: 370px; height: 200px; text-align: center; }
.m-item-type4 > li > a > img { width: 370px; height: 140px; border-radius: 10px 10px 0 0; }
.m-item-type4 > li > a > p { font-size: 18px; font-weight: 700; text-align: center; margin-top: 8px; }
.m-item-type4 > li > a > p > img { vertical-align: middle; margin-right: 12px; margin-bottom: 4px; }
.m-learned-grid-container { display: grid; grid-template-columns: 370px 370px 370px; grid-template-rows: 200px 200px; gap: 40px; }
#m-product .m-item-type4 { margin-top: 39px; }
#m-quality .m-item-type4, #m-support .m-item-type4 { display: flex; }
#m-quality .m-item-type4 > li { margin-right: 40px; margin-bottom: 20px; }

/* main nav item type5 css */
.m-quality-grid-container { display: grid; grid-template-columns: 270px 270px 270px 270px; grid-template-rows: 168px; gap: 40px; }
.m-item-type5 > li { border: 1px solid #dfdacb; border-radius: 10px; background-color: #fff; }
.m-item-type5 > li > a { display: inline-block; width: 270px; height: 168px; text-align: center; }
.m-item-type5 > li > a > img { width: 269px; height: 99px; border-radius: 10px 10px 0 0; }
.m-item-type5 > li > a > p { font-size: 18px; font-weight: 700; text-align: center; margin-top: 10px; }
.m-item-type5 > li > a > p > img { vertical-align: middle; margin-right: 12px; margin-bottom: 4px; }

.close-btn-wrap { text-align: center; vertical-align: middle; margin: 45px 0; }
.close-btn-wrap > button { background-color: #fff; border: none; font-size: 16px; }
.close-btn-wrap > button:hover { text-decoration: underline; cursor: pointer; }
.close-btn-wrap > button > img { width: 14px; height: 14px; margin-right: 10px;}
#m-cm_campaign .close-btn-wrap, #m-csr .close-btn-wrap, #m-support .close-btn-wrap { margin-top: 39px; }
#m-quality .close-btn-wrap { margin-top: 25px; }

/* main css */
main {}

/* aside css */
aside {}

/* footer css */
footer {}
